.btnBlue {
    @include styleButton($color-blue, $color-blue, $pd-2, $pd-3, 0px);
    @include styleText($color-white-0, $fs-0, $fw-normal);
    &:hover {
        @include styleButtonHover($color-white-0, $color-blue, $color-blue);
    }
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btnWhite {
    @include styleButton($color-white-0, $color-blue, $pd-2, $pd-3, 0px);
    @include styleText($color-blue, $fs-0, $fw-normal);
    &:hover {
        @include styleButtonHover($color-blue, $color-white-0, $color-blue);
    }
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btnRed {
    @include styleButton($color-red, $color-red, $pd-2, $pd-3, 0px);
    @include styleText($color-white-0, $fs-0, $fw-normal);
    &:hover {
        @include styleButtonHover($color-white-0, $color-red, $color-red);
    }
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btnAngleRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid $color-white-0;
    border-radius: 50%;
    &:hover {
        background-color: white;
        color: $color-blue;
    }
}