.fordGallery {
    .fordGallery__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        #viewAll, #viewLess {
            display: none;
        }
        .btnView {
            width: 100%;
            border: none;
            background-color: $color-blue;
            padding: 20px 0;
            color: $color-white-0;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .btnIcon {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $color-white-0;
                color: $color-white-0;
                background-color: $color-blue;
                margin-left: $mg-1;
                font-weight: $fw-bold;
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .item {
            position: relative;
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
            a {
                position: relative;
            img {
                width: 100%;
                transition: 0.5s;
            }
            .text {
                background-color: rgba(6, 120, 188, 0.9);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 10px 0;
                p {
                    @include  styleText($color-white-0, $fs-0, $fw-normal);
                    width: 85%;
                }
                
                i {
                    font-size: 15px;
                }
            } 
            }
           
        }
        .item:nth-child(1) {
            grid-column: span 3;
            display: flex;
            justify-content: center;
            align-items: center;
            .letter {
                text-align: center;
                h1 {
                    @include styleText($color-red, 2rem, 300);
                }
                p {
                    margin-top: 2rem;
                    @include styleText(#626466, 18px, $fw-bold);
                }
            }
        }
        .item:nth-child(2) {
            grid-column: span 1;
            .item-768 {
                display: none;
            }
        }
        .item:nth-child(3) {
            grid-column: span 2;
            grid-row: span 2;
            // .text {}
            .item-768 {
                display: none;
            }
            .item-992 {
                a {
                    .text {
                        padding: 3%;
                        p {
                            font-size: $fs-3;
                        }
                        i {
                            font-size: 32px;
                        }
                    }
                }

            }

        }
        .item:nth-child(4) {
            grid-column: span 1;
        }
        .item:nth-child(5) {
            grid-column: span 1;
        }
        .item:nth-child(6) {
            grid-column: span 1;
        }
        .item:nth-child(7) {
            grid-column: span 1;
        }
    }
}

@include responesive("medium") {
    .fordGallery {
        .fordGallery__content {
            display: block;
            .item {
                .text {
                    p {
                        font-size: 20px;
                    }
                }
            }
            .item:nth-child(1) {
                padding: 3rem 0;
                .letter {
                    p {
                        display: none;
                    }
                }
            }
            .item:nth-child(2){
                .item-768 {
                    display: block;
                    }
                .item-992 {
                    display: none;
                }
            }
            .item:nth-child(3){
                .item-768 {
                    display: block;
                }
                .item-992 {
                    display: none;
                }
            }
            .viewMd {
                display: none;
            }
            #viewAll {
                display: block;
            }
        }
    }
}
